@page
@model IndexModel

<div class="content">
    <h1>Counter Application</h1>
        <div class="counter-container">
            <button id="add">+</button><span id="output">0</span>
            <button id="subtract">-</button>
        </div>
</div>
