h1 {
    padding-bottom: 3rem;
    padding-left: 2rem;
    font-size: 50px;
}

body {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    background-color: #c7d3d9;
    text-align: center;
    padding-top: 16rem;
}

.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    font-size: 75px;
    background-color: #347bed;
    padding: 2px 12px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 4px;
    color: #dedddc;
    cursor: pointer;
}
button {
    font-size: 75px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

button:hover {
    transform: scale(1.2);
}

button:focus {
    outline: none;
}

#reset {
    padding-top: 2.0rem;
    padding-left: 1.5rem;
    font-size: 45px;
}